.GuildSelect-GuildIcon {
    width: 35px;
    margin-right: 5%;
}

.GuildSelect-Dropdown-Item-Span {
    color: #cccccc;
    font-weight: 600;
}

.GuildSelect-DropDown {
    width: 200px
}

.GuildSelect__DropDownMenu {
    background: #3B3B3B;
    border-color: #3B3B3B;
}

.dropdown-item:hover {
    background: #1a1a1a !important;
}

.GuildSelect-ChosenGuild-GuildIcon {
    height: 18px;
    margin-right: 5%;
    margin-top: -4px;
}