#UserPlaylists {
  display: inline-block;
  height: 99%;
  width: 88%;
  background-color: #dedede;
}

.UserPlaylists-Contents {
  display: inline-block;
  height: auto;
  background-color: #dedede;
  margin: 0% 0 0 5%;
}

.UserPlaylists-Header {
  margin-bottom: 20%;
}

.UserPlaylists-HeaderSubText, .UserPlaylists-HeaderSubText-Main { display: inline; }

.PlaylistDisplay {
  padding: 5%;
  width: 550%;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 20px;
}
.PlaylistDisplay:hover { cursor: pointer; }
.PlaylistDisplay:hover .UserPlaylists-PlaylistName { text-decoration: underline; }

.PD-grey { background: #b3b3b3; }
.PD-white { background: #dedede }

.UserPlaylists-PlaylistName {
  display: block;
  font-size: 20px;
}

.UserPlaylists-SongAmount {
  font-weight: 400;
  font-size: 14px;
  display: inline-block;
}

.UserPlaylists-Delete {
  position: relative;
  float: right;
  top: 15px;
}

#LoadingUserPlaylists {
  height: 12vh;
  width: 50%;
  margin: 0 auto;
  position: relative;
}
