#DefaultCommands {
    height: auto;
    width: 100%;
    background: #151515;
};

#DefaultCommands-ContainerMain {
    height: 75vh;
    background: transparent;
}

.DefaultCommands-Container {
    margin-top: 20px;
    /* margin-left: 25px; */
}

.DefaultCommands-Header {
    margin-left: -20px;
}

.DefaultCommands-BreadCrumb {
    margin-left: -20px;
}

.DefaultCommands-Content {
    margin-top: 50px;
}

#DefaultCommands-Table {
    background: #151515;
    color: #cccccc;
    margin: 0;
    padding: 0;
    margin-bottom: 5%;
}

.DefaultCommands-TH {
    color: #cccccc !important;
    font-weight: 800;
}

.DefaultCommands-SettingsButton {
    font-size: 14px;
    width: 120px;
    padding: 8px;
    background: orange !important;
}

.DefaultCommands-TD-Command {
    font-weight: 600;
}

.DefaultCommands-TD-Command-Link {
    color: #cccccc !important;
    cursor: pointer;
}

.DefaultCommands-TD-Command-Link:hover {
    color: orange !important;
    cursor: pointer;
}

.DefaultCommands-TD-Description {
    font-weight: 400;
}