#Lyrics { margin-bottom: 10%; }
.Lyrics-Header { display: inline; font-size: 30px; }
.Lyrics-Header:hover { color: orange; }
.Lyrics-SubHeader {
  display: inline;
  font-weight: 400;
  font-size: 18px;
}

.Lyrics-SubHeader-Param {font-size: 14px;}
#Lyrics-Image { border-radius: 16px; }