#Weather { margin-bottom: 10%; }
.Weather-Header { display: inline; font-size: 30px; }
.Weather-Header:hover { color: orange; }
.Weather-SubHeader {
  display: inline;
  font-weight: 400;
  font-size: 18px;
}

.Weather-Desc > a { color: orange; }
.Weather-Desc > a:hover { text-decoration: underline; }

.Weather-SubHeader-Param {font-size: 14px;}
#Weather-Image { border-radius: 16px; }