#UserInfo { margin-bottom: 10%; }
.UserInfo-Header { display: inline; font-size: 30px; }
.UserInfo-Header:hover { color: orange; }
.UserInfo-SubHeader {
  display: inline;
  font-weight: 400;
  font-size: 18px;
}

.UserInfo-Desc > a { color: orange; }
.UserInfo-Desc > a:hover { text-decoration: underline; }

.UserInfo-SubHeader-Param {font-size: 14px;}
#UserInfo-Image { border-radius: 16px; }