@import url('https://fonts.googleapis.com/css?family=Raleway'); /* Raleway Font Import */
@import url('https://fonts.googleapis.com/css?family=Roboto'); /* Roboto Font Import */
@font-face {
  font-family: 'Risa';
  src: url(./res/fonts/Risa.otf);
}
@@font-face {
  font-family: 'Cocogoose';
  src: url(./res/fonts/Cocogoose.ttf);
}

body, html {
  max-height: 100%;
  height: 100%;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #1a1a1a;
}

a{
  text-decoration: none;
  color: inherit;
}

a:visited, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}
