@font-face {
    font-family: 'NexaRustSlab';
    src: url(./assets/fonts/NexaRustSlab.otf);
}
  
@font-face {
    font-family: 'Risa';
    src: url(./assets/fonts/Risa.otf);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.app {
    min-height: 100vh;
}

.fireside-text { font-family: 'NexaRustSlab', sans-serif; }