@font-face {
    font-family: 'NexaRustSlab';
    src: url(./assets/fonts/NexaRustSlab.otf);
}
  
@font-face {
    font-family: 'Risa';
    src: url(./assets/fonts/Risa.otf);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.app {
    min-height: 100vh;
}

.app-page {
    min-height: 60vh;
    padding-top: 100px;
}

.dashboard-page {
    min-height: 60vh;
}

.fireside-text { font-family: 'NexaRustSlab', sans-serif; }
.fireside-button-dark { background-color: #A62F03 !important; }
.fireside-button-light { background-color: #A62F03 !important; }

.discord-color { background-color: #5865F2 !important; }