@import url('https://fonts.googleapis.com/css?family=Raleway'); /* Raleway Font Import */
@import url('https://fonts.googleapis.com/css?family=Roboto'); /* Roboto Font Import */

@font-face {
  font-family: 'NexaRustSlab';
  src: url(./res/fonts/NexaRustSlab.otf);
}

@font-face {
  font-family: 'Risa';
  src: url(./res/fonts/Risa.otf);
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0d0d0d;
  color: #cccccc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a{
  text-decoration: none;
  color: inherit;
}

a:visited, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

table.table a {
  color: inherit;
}

body::-webkit-scrollbar { background: #0d0d0d; }
body::-webkit-scrollbar-thumb { background: #262626; }

.FontAwesomeIcon { display: inline; margin-right: 5%; }
.Component-Header {
  font-size: 2.5rem;
  font-weight: 600;
}
.Component-Breadcrumb {
  display: inline;
  transition: .3s;
}

.Component-Breadcrumb:hover {
  color: orange;
  cursor: pointer;
}

.Component-Breadcrumb-Main {
  font-weight: 600;
}

.Component-Content {
  margin-top: 25px;
}
