#Pause { margin-bottom: 10%; }
.Pause-Header { display: inline; font-size: 30px; }
.Pause-Header:hover { color: orange; }
.Pause-SubHeader {
  display: inline;
  font-weight: 400;
  font-size: 18px;
}

.Pause-SubHeader-Param {font-size: 14px;}
#Pause-Image { border-radius: 16px; }
