.Aliases-Header { display: inline; font-size: 30px; }
.Aliases-Header:hover { color: orange; }

.Aliases-Table {
    width: 30%;
    border: solid #cccccc;
    border-collapse: collapse;
    margin-bottom: 5%;
    text-align: left;
  }
  
  .Aliases-TR-Header {
    font-weight: 800;
    font-size: 20px;
    background-color: #cccccc;
    color: black;
    width: 80px;
    border: solid #cccccc;
  }
  
  .Aliases-TH {
    padding: 5px;
    width: 30px;
    border: solid #cccccc;
  }
  .Aliases-TR {
    border: solid #cccccc;
  }
  .Aliases-TD {
    padding: 15px;
    border: solid #cccccc;
  }

  .Aliases-TD > a:hover { color: orange; cursor: pointer; }