.Dashboard {
  display: inline-block;
  height: 99%;;
  width: 88%;
  background-color: black;
  color: #cccccc;
  /* background-image: url(../../res/images/CampfireBG.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
}

.Dashboard-Contents {
  height: auto;
  background-color: black;
}

#LoadingDashboard {
  height: 16vh;
  width: 12%;
  margin: 0 auto;
  position: relative;
  top: 300px;
}
