#Dashboard {
    height: 73vh;
    width: 100%;
    background: #151515;
};

#Dashboard-ContainerMain {

}

.Dashboard-Container {
    margin-top: 20px;
    margin-left: 10px;
}

.Dashboard-Breadcrumb {
    background: red !important;
    padding: 0;
}

.Dashboard-Card {
    background: #363636;
    color: #cccccc;
}

#Dashboard-AAG-Button, #Dashboard-WN-Button {
    background: inherit !important;
    border: solid #f5f5f5f5;
    font-weight: 600;
    margin-top: 25px;
    margin-left: 0;
    transition: .5s;
}

#Dashboard-AAG-Button:hover, #Dashboard-WN-Button:hover {
    border: solid orange;
    color: orange !important;
}