.Dashboard {
  display: inline-block;
  height: 99%;;
  width: 88%;
  background-color: #1a1a1a;
  color: #cccccc;
}

.Dashboard-Contents {
  height: auto;
  background-color: #1a1a1a;
  margin-left: 5%;
}

#LoadingDashboard {
  height: 16vh;
  width: 12%;
  margin: 0 auto;
  position: relative;
  top: 300px;
}

.Dashboard-Header {
  margin-bottom: 5%;
}

.Dashboard-Header-SubText, .Dashboard-Header-SubText-Main { display: inline; }
.Dashboard-Header-SubText-Main { font-weight: 800; }
