#SinglePlaylist {
  display: inline-block;
  height: 100%;
  width: 88%;
  background-color: #1a1a1a;
  color: #cccccc;
}

.SinglePlaylist-Content {
  height: auto;
  margin-top: 2%;
  margin-left: 5%;
  background-color: black;
  padding: 1% .1% 1% 1%;
  border-radius: 24px;
}

.SinglePlaylist-Header {
  margin-bottom: 2%;
}

.SinglePlaylist-Header-SubText, .SinglePlaylist-Header-SubText-Main { display: inline; }
.SinglePlaylist-Header-SubText-Main { font-weight: 800; }

/* .SinglePlaylist-Table-Container {
  width: 50%;
} */

.SinglePlaylst-Songs {
  padding: 1%;
}

.SinglePlaylist-Grey { background: #333333; }
.SinglePlaylist-White { background: #1a1a1a; }
