#SinglePlaylist {
  display: inline-block;
  height: 100%;
  width: 88%;
  background-color: black;
  color: #999999;
}

.SinglePlaylist-Content {
  height: auto;
  margin-top: 2%;
  margin-left: 2%;
  background-color: black;
  padding: 1% .1% 1% 1%;
  border-radius: 24px;
}

.SinglePlaylist-Table-Container {
  overflow-y: auto;
  height: 80%;
}

.SinglePlaylist-TableRow-title { width: 35%; }
.SinglePlaylist-TableRow-counter { width: 5%; text-align: center; }
.SinglePlaylist-TableRow-title, .SinglePlaylist-TableRow-link, .SinglePlaylist-TableRow-counter {
  padding: 5px;
}

.SinglePlaylist-TableRow-action { text-align: center; }
.SinglePlaylist-ActionButton {
  border-radius: 50%;
  background-color: red;
  color: #dedede;
}
.SinglePlaylist-ActionButton:hover { cursor: pointer; background-color: #990000; }
