#SinglePlaylist {
  display: inline-block;
  min-height: 100%;
  width: 88%;
  background-color: #1a1a1a;
  color: #cccccc;
}

.SinglePlaylist-Contents {
  height: auto;
  margin-left: 5%;
  background-color: inherit;
}

.SinglePlaylist-Header {
  margin-bottom: 2%;
}

.SinglePlaylist-Header-SubText, .SinglePlaylist-Header-SubText-Main { display: inline; }
.SinglePlaylist-Header-SubText-Main { font-weight: 800; }

.SinglePlaylist-Songs-Container {
  width: 95%;
}

.SinglePlaylst-Songs {
  padding: 1%;
}

.SinglePlaylist-Grey { background: #333333; }
.SinglePlaylist-White { background: #1a1a1a; }
