.Playlists {
  display: inline-block;
  height: 99%;
  width: 88%;
  background-color: #1a1a1a;
  color: #cccccc;
}

.Playlists-Contents {
  position: relative;
  display: inline-block;
  top: 40%;
  height: auto;
  width: 99.5%;
  background-color: #1a1a1a;
}

.UserPlaylist-Option {
  position: relative;
  float: left;
  left: 20%;
  width: 20%;
  margin-right: 2%;
  display: inline-block;
  background: #333333;
  padding: .5% 4% .5% 4%;
  font-size: 14px;
  font-family: "Cocogoose", sans-serif;
  text-align: center;
}
.UserPlaylist-Option:hover { outline: solid orange; cursor: pointer; }
.UserPlaylist-Option:hover .UserPlaylist-Option-Text { color: orange; }
.UserPlaylist-Option-Text { display: inline-block; transition: .5s; }

.GuildPlaylist-Option {
  position: relative;
  float: right;
  right: 20%;
  width: 20%;
  margin-left: 2%;
  display: inline-block;
  background: #333333;
  padding: .5% 4% .5% 4%;
  font-size: 14px;
  font-family: "Cocogoose", sans-serif;
  text-align: center;
}
.GuildPlaylist-Option:hover { outline: solid orange; cursor: pointer; }
.GuildPlaylist-Option:hover .GuildPlaylist-Option-Text { color: orange; }
.GuildPlaylist-Option-Text { display: inline-block; transition: .5s; }
