.HomePage-Logo {
    height: 150px;
    margin-bottom: 1%;
}

@media (max-width: 800px) {
    .HomePage-Logo {
        height: 80px;
        margin-bottom: 6%;
    }

    .HomePage-Button {
        margin-top: 0;
    }
}