#HelpDocs {
  display: inline-block;
  height: 99%;
  width: 100%;
  background-color: #1a1a1a;
  color: #cccccc;
}

.HelpDocs-Contents {
  display: inline-block;
  height: auto;
  background-color: inherit;
}
