#Volume { margin-bottom: 10%; }

.Volume-Header {
  display: inline;
  font-size: 30px;
}

.Volume-Header:hover { color: orange; }

.Volume-SubHeader {
  display: inline;
  font-weight: 400;
  font-size: 18px;
}

.Volume-SubHeader-Param {
  font-size: 14px;
}

#Volume-ImageA {
  margin-top: 2%;
  border-radius: 16px;
  display: block;
}
#Volume-ImageB {
  border-radius: 16px;
  display: block;
  margin-top: 2%;
}
