.ManageServer {
  display: inline-block;
  height: 99%;;
  width: 88%;
  background-color: #1a1a1a;
  color: #cccccc;
}

.ManageServer-Contents {
  height: auto;
  background-color: #1a1a1a;
  margin-left: 5%;
}

.ManageServer-Header {
  margin-bottom: 5%;
}

.ManageServer-Header-SubText, .ManageServer-Header-SubText-Main { display: inline; }
.ManageServer-Header-SubText-Main { font-weight: 800; }
