.AutoDJ {
  display: inline-block;
  height: 99%;
  width: 88%;
  background-color: #dedede;
}

.AutoDJ-Contents {
  height: auto;
  background-color: #dedede;
  font-family: "Raleway", sans-serif;
}

.AutoDJ-RequestDelete {
  text-align: center;
  border: none;
  background-color: red;
  border-radius: 50%;
}

.QueueHeader { margin-left: 2%; font-size: 20px; color: #333333; }

.AutoDJ-Queue-Table, .AutoDJ-Queue-Tbody, .AutoDJ-Queue-Tr, .AutoDJ-Queue-Th, .AutoDJ-Queue-Td {}
.AutoDJ-Queue-Table { margin-left: 2%; }

.AutoDJ-Queue-Th {
  background-color: #1a1a1a;
  color: #dedede;
  font-size: 20px;
  padding: .5%;
}

.AutoDJ-Queue-Td { padding: .5%; }

.AutoDJ-Queue-Grey { background-color: #b3b3b3; }
.AutoDJ-TableRow-Action { text-align: center; }
.TableHeightFix { height: 10vh; }

.AutoDJ-PlaylistSelect:focus { outline: solid orange; }
