.AutoDJ {
  display: inline-block;
  height: 99%;
  width: 88%;
  background-color: #1a1a1a;
  color: #cccccc;
}

.AutoDJ-Contents {
  height: auto;
  background-color: #1a1a1a;
  /* font-family: "Raleway", sans-serif; */
}

.AutoDJ-Header { margin-bottom: 5%; margin-left: 5%; }
.AutoDJ-Header-SubText, .AutoDJ-Header-SubText-Main {
  display: inline;
}
.AutoDJ-Header-SubText-Main {
  font-weight: 800;
}

.AutoDJ-RequestDelete {
  text-align: center;
  border: none;
  background-color: red;
  border-radius: 50%;
}

.QueueHeader { margin-left: 2%; font-size: 20px; color: #cccccc; }

.AutoDJ-Queue-Table, .AutoDJ-Queue-Tbody, .AutoDJ-Queue-Tr, .AutoDJ-Queue-Th, .AutoDJ-Queue-Td {}
.AutoDJ-Queue-Table { margin-left: 2%; }

.AutoDJ-Queue-Th {
  background-color: #333333;
  color: #dedede;
  font-size: 20px;
  padding: .5%;
}

.AutoDJ-Queue-Td { padding: .5%; }

.AutoDJ-Queue-Grey { background-color: #262626; }
.AutoDJ-TableRow-Action { text-align: center; }
.TableHeightFix { height: 10vh; }

.AutoDJ-PlaylistSelect:focus { outline: solid orange; }
