#Loop { margin-bottom: 10%; }
.Loop-Header { display: inline; font-size: 30px; }
.Loop-Header:hover { color: orange; }
.Loop-SubHeader {
  display: inline;
  font-weight: 400;
  font-size: 18px;
}

.Loop-Desc > a { color: orange; }
.Loop-Desc > a:hover { text-decoration: underline; }

.Loop-SubHeader-Param {font-size: 14px;}
#Loop-Image { border-radius: 16px; }