.DashboardDocs-Header { font-size: 30px; }
.DashboardDocs-Header:hover { color: orange; }
.DashboardDocs-SubHeader { font-size: 14px; }
.DashboardDocs-Desc { margin-top: 6%; }

.DashboardDocs-Images {
  border-radius: 16px;
  border: solid #cccccc;
  margin-top: 1%;
}
#Dashboard-ImageA {}
#Dashboard-ImageB { margin-bottom: 10%; }
