.InfoCommands-Header{ display: inline; font-size: 40px; }
.InfoCommands-SubHeader { font-size: 16px; margin-bottom: 10%; display: inline-block; }
.InfoCommands-SubHeader-ParamA { color: orange; display: inline-block; margin-right: .5%; }
.InfoCommands-SubHeader-ParamB { color: orange; display: inline-block; margin: 0 .5% 0 .5%; }