#Regulars {
  display: inline-block;
  height: 99%;
  width: 88%;
  background-color: #dedede;
}

.Regulars-Contents {
  display: inline-block;
  height: auto;
  background-color: #dedede;
}

.Regulars-Tbody
.Regulars-Table
.Regulars-TableRow
.Regulars-TH { text-align: left; }
.Regulars-TD

.Regulars-TH-Counter { text-align: center; }
.Regulars-TD-Counter { text-align:center; }
