#Trackers {
    height: auto;
    width: 100%;
    background: #151515;
};

#Trackers-ContainerMain {
    height: 75vh;
    background: transparent;
}

.Trackers-Container {
    margin-top: 20px;
}

.Trackers-Breadcrumb {
    padding: 0;
}

#Trackers-Table {
    background: #151515;
    color: #cccccc;
    margin: 0;
    padding: 0;
    margin-bottom: 5%;
}

.Trackers-TH {
    color: #cccccc !important;
    font-weight: 800;
}

.Trackers-TD-Username {
    font-weight: 600;
}

.Trackers-TD-Channel {
    font-weight: 400;
}

.Trackers-TD-Role {
    font-weight: 400;
}

.Trackers-Icon-Trash {
    transition: .3s;
}
.Trackers-Icon-Trash:hover { color: orange }