.AutoDJ {
  display: inline-block;
  height: 99%;
  width: 88%;
  background-color: #dedede;
}

.AutoDJ-Contents {
  height: auto;
  background-color: #dedede;
  font-family: "Raleway", sans-serif;
}

.videoWrapper-Container {
  width: 420px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0px;
}

iframe {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 100%;
  width: 100%
}

.NextButton {
  position: relative;
  left: 120%;
  height: 14vh;
  width: 20%;
  background-image: url(../../../res/images/NextIcon2.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.AutoDJ-PlayPause-Play {
  position: relative;
  left: 110%;
  height: 14vh;
  width: 20%;
  background-image: url(../../../res/images/PlayIcon.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.AutoDJ-PlayPause-Pause {
  position: relative;
  left: 110%;
  height: 14vh;
  width: 20%;
  background-image: url(../../../res/images/PauseIcon.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.AutoDJ-Link-Icon {
  display: inline-block;
  height: 4vh;
  width: 8%;
  background-image: url(../../../res/images/LinkIcon.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.AutoDJ-CurrentSong-Link {
  text-decoration: underline;
  color: cyan;
}
