#C_PlayNext { margin-bottom: 10%; }
.C_PlayNext-Header { display: inline; font-size: 30px; }
.C_PlayNext-Header:hover { color: orange; }
.C_PlayNext-SubHeader {
  display: inline;
  font-weight: 400;
  font-size: 18px;
}

.C_PlayNext-SubHeader-Param {font-size: 14px;}
#PlayNext-Image { border-radius: 16px; }
