#Settings {
    height: auto;
    width: 100%;
    background: #151515;
};

#Settings-ContainerMain {
    height: 75vh;
    background: transparent;
}

.Settings-Container {
    margin-top: 20px;
    margin-left: 10px;
}