#BotInfo { margin-bottom: 10%; }
.BotInfo-Header { display: inline; font-size: 30px; }
.BotInfo-Header:hover { color: orange; }
.BotInfo-SubHeader {
  display: inline;
  font-weight: 400;
  font-size: 18px;
}

.BotInfo-Desc > a { color: orange; }
.BotInfo-Desc > a:hover { text-decoration: underline; }

.BotInfo-SubHeader-Param {font-size: 14px;}
#BotInfo-Image { border-radius: 16px; }