#ControlPanelDocs {
  display: inline-block;
  height: 99%;
  width: 100%;
  background-color: #dedede;
}

.ControlPanelDocs-Contents {
  display: inline-block;
  height: auto;
  background-color: #dedede;
}
