#AddUserPlaylist {
  height: 15vh;
  width: 130%;
}

.AddUserPlaylist-Contents {
  margin: 2% 0 0 4%;
}

.AddUserPlaylist-Header { display: inline; }
#AddUserPlaylistForm { display: inline; }

.AddUserPlaylist-Submit {
  position: relative;
  padding: 0 0 0 .5%;
  border: none;
  top: 4px;
  border-left: solid #9a9a9a9a;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  left: .5%;
  transition: .5s;
  background-color: inherit;
  color: #cccccc;
}

.AddUserPlaylist-Submit:hover { color: orange; border-left: solid orange; }
.AddUserPlaylist-Submit:focus { outline: none; }
.AddUserPlaylist-Submit:active { color: red; }

.CannotSubmit { border-color: red; }
.CanSubmit-Green:focus { border-color: #00ff00; }

.AUP-CannotSubmit-Text {
  position: relative;
  top: 10px;
  background-color: red;
  color: white;
  padding: .5% 0 .5% 0;
  width: 400px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
}
