#HomePage {
    height: 300px;
    /* background: url(https://i.imgur.com/za9jaOX.png); */
    background: url(https://i.imgur.com/CyclXef.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#HomePage-Container > img { margin-left: 4%; width: 5vh; display: inline-block; }
#HomePage-Container > h1 { 
    font-family: 'NexaRustSlab', sans-serif; 
    display: inline-block; 
    position: relative;
    top: 18px;
    left: 1%;
    font-size: 5vh;
    margin-bottom: 3%;
}

#HomePage-Container > p {
    margin-left: 6vh;
    margin-top: .5vh;
    margin-bottom: 2%;
    /* font-size: 2vh; */
}

#HomePage-UserCount {
    background: #ff6600 !important;
    margin-left: 4%;
}

.HomePage-AddToDiscord {
    background: #738ADB !important;
}