{
    "$schema": "https://json.schemastore.org/swcrc",
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "decorators": true
        },
        "baseUrl": "./src",
        "paths": {
            "@@root/*": ["./*"],
            "@@api/*": ["./api/*"],
            "@@constants/*": ["./constants/*"],
            "@@commands/*": ["./commands/*"],
            "@@config/*": ["./config/*"],
            "@@controllers/*": ["./controllers/*"],
            "@@middleware/*": ["./middleware/*"],
            "@@resources/*": ["./resources/*"],
            "@@services/*": ["./services/*"],
            "@@types/*": ["./types/*"],
            "@@utils/*": ["./utils/*"]
        }
    }
}