#GuildSettings {
    height: 15vh;
    background: #151515;
    width: 100%;
}

#GuildSettings-Container {
    margin-top: 5%;
}

#GuildSettings-Form {
    width: 40vw;
}

#GuildSettings-CurrencyName, #GuildSettings-CurrencyIncreaseRate {
    background: inherit;
    border: none;
    border-bottom: solid #cccccc;
    border-radius: 0px;
}

#GuildSettings-UpdateButton {
    border:none;
    border-left: solid #cccccc;
    background: inherit !important;
    padding: 5px 8px 5px 8px;
    font-size: 15px;
}

#GuildSettings-UpdateButton:hover {
    transition: .5s;
    color: orange !important;
    border-left: solid orange;
}