#DeletePlaylist { margin-bottom: 10%; }
.DeletePlaylist-Header { display: inline; font-size: 30px; }
.DeletePlaylist-Header:hover { color: orange; }
.DeletePlaylist-SubHeader {
  display: inline;
  font-weight: 400;
  font-size: 18px;
}

.DeletePlaylist-SubHeader-Param {font-size: 14px;}
#DeletePlaylist-Image { border-radius: 16px; }