#Footer {
    background: #060606;
    text-align: center;
    width: 100%;
    height: 24vh;
    z-index: 0;
    /* position: ; */
    bottom: 0;
}

#Footer-Container {
    padding: 1vh;
}

.Footer-Icon {
    font-size: 3vh;
    display: inline-block;
    margin: 1.5% 1.5% 0 1.5%;
}

.Footer-Col {
    margin-bottom: 2%;
}

.Footer-Col > p {
    display: inline;
}

.Footer-DBL {
    margin: 1%;
}

.Footer-Fireside {
    color: orange;
    display: inline;
}

#Footer-DBL-Link { color: orange }