
#TopNav-Navbar {
    background: black;
    color: #cccccc;
    height: 74px;
}

#TopNav-ManageServer-Form {
    position: relative;
    left: 25px;
}

.TopNav-GuildIcon {
    width: 35px;
    margin-right: 5%;
}

#TopNav-Dropdown {}
.TopNav-Dropdown-Toggle {
    background-color: #4d4d4d !important;
    color: #f5f5f5;
    font-weight: 600;
    text-align: center;
    border-radius: 2px;
    padding: 5px 40px 5px 40px;
    border: none;
    height: 45px;
    margin-top: 4px;
}

.TopNav-Dropdown-Toggle:hover { cursor: pointer; }
.TopNav-Dropdown-Toggle:focus { border: thin solid #f5f5f5; outline-color: transparent; }

#TopNav-Dropdown-Menu {
    background: #363636;
}

.TopNav-Dropdown-Item {
    color: red !important;
    padding: 16px;
    width: 230px;
}

.TopNav-Dropdown-Item-Span {
    color: #cccccc;
    font-weight: 600;
}

.TopNav-Dropdown-Item:hover .TopNav-Dropdown-Item-Span {
    color: #363636 !important;
}