.ModerationDocs-Header { font-size: 30px; }
.ModerationDocs-Header:hover { color: orange; }
.ModerationDocs-SubHeader { font-size: 14px; }
.ModerationDocs-Desc { margin-top: 6%; }

.ModerationDocs-Images {
  border-radius: 16px;
  border: solid #cccccc;
  margin-top: 1%;
}
