#ManageGuildCurrency {
  display: inline-block;
  height: 99%;
  width: 88%;
  background-color: #1a1a1a;
  color: #cccccc;
}

.ManageGuildCurrency-Contents {
  display: inline-block;
  height: auto;
  background-color: #1a1a1a;
}
