#Promote { margin-bottom: 10%; }
.Promote-Header { display: inline; font-size: 30px; }
.Promote-Header:hover { color: orange; }
.Promote-SubHeader {
  display: inline;
  font-weight: 400;
  font-size: 18px;
}

.Promote-SubHeader-Param {font-size: 14px;}
#Promote-Image { border-radius: 16px; }
