#EightBall { margin-bottom: 10%; }
.EightBall-Header { display: inline; font-size: 30px; }
.EightBall-Header:hover { color: orange; }
.EightBall-SubHeader {
  display: inline;
  font-weight: 400;
  font-size: 18px;
}

.EightBall-SubHeader-Param {font-size: 14px;}
#EightBall-ImageA { border-radius: 16px; }
