.videoWrapper-Container {
  width: 460px;
  margin-left: 2%;
}

.YTP-Back {
  margin: 1%;
  font-size: 40px;
  display: inline-block;
  color: #ff6600;
}

.YTP-Back-Text {
  display: inline-block;
  position: relative;
  top: -24px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0px;
}

iframe {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 100%;
  width: 100%
}

.YTP-Controls-Container { background-color: #cccccc; margin-top: 2%; }

.YTP-Controls {
  width: 380%;
  margin-left: 2%;
  display: inline-block;
  margin-top: 1%;
}

.YTP-VideoInfo { margin-left: 2%; }

.YouTubePlayer-NextButton {
  position: relative;
  display: inline-block;
  top: -20px;
  left: 10px;
  border: none;
  height: 80px;
  width: 80px;
  background-image: url(../../../res/images/NextIcon2.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.YouTubePlayer-PlayPause-Play {
  position: relative;
  display: inline-block;
  border: none;
  height: 110px;
  width: 110px;
  background-image: url(../../../res/images/PlayIcon.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.YouTubePlayer-PlayPause-Pause {
  position: relative;
  display: inline-block;
  border: none;
  height: 110px;
  width: 110px;
  background-image: url(../../../res/images/PauseIcon.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.YTP-CurrentTime-Container, .YTP-CurrentTimeSlider-Container { position: relative; display: inline-block; }
.YTP-CurrentTime-Container { width: 60vw; left: 1%; top: -50px; }
.YTP-CurrentTime-Text-Container { display: inline-block; position: relative; width: 10px; }
.YTP-CurrentTime-Text { position: relative; display: inline-block; }
.YTP-CurrentTimeSlider, .YTP-Duration { position: relative; display: inline-block; }
.YTP-Duration-Text-Container { display: inline-block; position: relative; width: 10px; }
.YTP-Duration-Text { top: 10px; left: -25px; }
.VolumeIcon-Container { width: 20px; display: inline-block; }
.YTP-VolumeSlider-Container, .YTP-VolumeSlider, .VolumeIcon { position: relative; display: inline-block; }

/*======== VOLUME SLIDER ========*/

.YTP-VolumeSlider-Container { width: 3%; position: relative; top: -47px; }
.YTP-VolumeSlider {
  margin: auto;
  border-radius: 16px;
  height: 15px;
  top: 5px;
  appearance: none;
  overflow: hidden;
  width: 80%;
  border: solid #cccccc;
}
.YTP-VolumeSlider::-webkit-slider-thumb {
  appearance: none;
  height: 25px;
  width: 0px;
  box-shadow: -100vw 0 0 100vw orange;
}
.YTP-VolumeSlider::-webkit-slider-runnable-track {
  border-radius: 16px;
  background: #ddd;
}
.YTP-VolumeSlider::-moz-range-track { height: 25px; background: #ddd; }
.YTP-VolumeSlider::-moz-range-thumb {
  height: 25px;
  width: 0px;
  box-shadow: -100vw 0 0 100vw orange;
}
.YTP-VolumeSlider::-ms-fill-lower { background: purple; }
.YTP-VolumeSlider::-ms-thumb {
  height: 40px;
  width: 0px;
  box-shadow: -100vw 0 0 100vw orange;
}
.YTP-VolumeSlider::-ms-ticks-after { display: none; }
.YTP-VolumeSlider::-ms-ticks-before { display: none; }
.YTP-VolumeSlider::-ms-track {
  background: #ddd;
  color: transparent;
  height: 40px;
  border: none;
}
.YTP-VolumeSlider::-ms-tooltip { display: none; }

/*======== END ========*/

/*======== CURRENT TIME SLIDER ========*/
.YTP-CurrentTimeSlider-Container { width: 80%; position: relative; }
.YTP-CurrentTimeSlider {
  margin: auto;
  border-radius: 16px;
  height: 15px;
  top: 5px;
  width: 90%;
  margin-left: 4%;
  appearance: none;
  overflow: hidden;
  border: solid #cccccc;
  display: inline-block;
}
.YTP-CurrentTimeSlider::-webkit-slider-thumb {
  appearance: none;
  height: 25px;
  width: 0px;
  box-shadow: -100vw 0 0 100vw orange;
}
.YTP-CurrentTimeSlider::-webkit-slider-runnable-track {
  border-radius: 16px;
  background: #ddd;
}
.YTP-CurrentTimeSlider::-moz-range-track { height: 25px; background: #ddd; }
.YTP-CurrentTimeSlider::-moz-range-thumb {
  background: #fff;
  height: 25px;
  width: 0px;
  box-shadow: -100vw 0 0 100vw orange;
}
.YTP-CurrentTimeSlider::-ms-fill-lower { background: purple; }
.YTP-CurrentTimeSlider::-ms-thumb {
  height: 40px;
  width: 0px;
  box-shadow: -100vw 0 0 100vw orange;
}
.YTP-CurrentTimeSlider::-ms-ticks-after { display: none; }
.YTP-CurrentTimeSlider::-ms-ticks-before { display: none; }
.YTP-CurrentTimeSlider::-ms-track {
  background: #ddd;
  color: transparent;
  height: 40px;
  border: none;
}
.YTP-CurrentTimeSlider::-ms-tooltip { display: none; }
/*======== END ========*/

.CurrentSongHeader { margin-top: 12%; color: #333333; font-size: 20px; }

.YTP-Duration-Container { position: relative; top: -2vh; }
.ClockIcon { display: inline-block; }
.YTP-CurrentSong-Duration {
  position: relative;
  left: .5%;
  display: inline-block;
}

.YTP-Link-Container { position: relative; top: -4vh; }
.LinkIcon { display: inline-block; }
.YTP-CurrentSong-Link {
  position: relative;
  left: .5%;
  display: inline-block;
  text-decoration: underline;
  color: blue;
}
