#CreatePlaylist { margin-bottom: 10%; }
.CreatePlaylist-Header { display: inline; font-size: 30px; }
.CreatePlaylist-Header:hover { color: orange; }
.CreatePlaylist-SubHeader {
  display: inline;
  font-weight: 400;
  font-size: 18px;
}

.CreatePlaylist-SubHeader-Param {font-size: 14px;}
#CreatePlaylist-Image { border-radius: 16px; }