#C_Balance { margin-bottom: 10%; }
.C_Balance-Header { display: inline; font-size: 30px; }
.C_Balance-Header:hover { color: orange; }
.C_Balance-SubHeader {
  display: inline;
  font-weight: 400;
  font-size: 18px;
}

.C_Balance-SubHeader-Param {font-size: 14px;}
#Balance-Image { border-radius: 16px; }
