#ViewGuildPlaylists {
  display: inline-block;
  height: 99%;
  width: 88%;
  background-color: #1a1a1a;
  color: #cccccc;
}

.ViewGuildPlaylists-Contents {
  display: inline-block;
  height: auto;
  background-color: inherit;
  margin-left: 5%;
}

.ViewGuildPlaylists-Header { margin-bottom: 20%; }
.ViewGuildPlaylists-SubHeader, .ViewGuildPlaylists-SubHeader-Main {
  display: inline;
}

.VGP-PlaylistRender { margin-bottom: 25%; }
.VGP-ServerDisplay {
  padding: 5%;
  width: 400%;
  font-family: sans-serif;
  font-weight: 800;
  font-size: 20px;
}
.VGP-ServerDisplay:hover { cursor: pointer; }
.VGP-Grey { background: #333333; }
.VGP-White { background: #1a1a1a; }
.VGP-GuildName {
  display: inline-block;
  font-size: 25px;
}
.VGP-ServerAngle {
  display: inline-block;
  float: right;
  position: relative;
  top: 35px;
  right: 50px;
}
.VGP-Server-Dropdown {
  position: relative;
  left: 5%;
  display: block;
  font-size: 10px;
  font-family: sans-serif;
  font-weight: 400;
}
.VGP-Playlists {
  width: 50%;
  display: block;
}
.VGP-Playlists-Link:hover .VGP-PlaylistName { text-decoration: underline; }
.VGP-PlaylistName {
  display: inline-block;
}
.VGP-PlaylistSongsCount {
  font-size: 16px;
  display: inline-block;
  margin-left: 2%;
}

#LoadingGuildPlaylists {
  height: 20vh;
  width: 90%;
  margin: 0 auto;
  position: relative;
  top: 200px;
}
