.RegularDocs-Header { font-size: 30px; }
.RegularCommandDocs-Header:hover { color: orange; }
.RegularDocs-SubHeader { font-size: 14px; }
.RegularDocs-Desc { margin-top: 6%; }

.RegularDocs-Images {
  border-radius: 16px;
  border: solid #cccccc;
  margin-top: 1%;
}
