#HelpNavBar {
  background-color: #0d0d0d;
  min-height: 100vh;
  /* max-height: 100%; */
  width: 15vw;
  color: rgba(255,255,255,0.5);
  display: inline-block;
  vertical-align: top;
  position: fixed;
}

.HelpNavBar-Contents-Container {
  height: 100vh;
  width: 15vw;
  background: inherit;
}

.HelpNavBar-Contents {
  position: fixed;
  height: 78vh;
  width: 12vw;
  top: -25%;
  left: -10%;
  overflow-y: scroll;
}

.HelpNavBar-Contents::-webkit-scrollbar { background: #0d0d0d; }
.HelpNavBar-Contents::-webkit-scrollbar-thumb { background: #262626; }

.HelpNavBar-Logo-Container {
  position: fixed;
  background-color: #333333;
  height: 12vh;
  width: 15vw;
  color: #dedede;
}

.HelpNavBar-Logo-Container:hover { cursor: pointer; }

.HelpNavBar-Logo {
  height: 50px;
  margin-left: 5%;
  margin-top: 6%;
  display: inline-block;
}

.HelpNavBar-Logo-Text {
  position: relative;
  display: inline-block;
  margin-left: 5%;
  top: -10px;
}

.HelpNavBar-Logo-SubText {
  position: relative;
  float: right;
  top: -40px;
  right: 20px;
}

.HelpNavBar-Contents {
  display: block;
  margin-left: 12%;
  margin-top: 20%;
}

.HelpNavBar-Contents-Header-Text {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
}

.HelpNavBar-Contents-Sub-Text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.HelpNavBar-Contents-Header-Text:hover, .HelpNavBar-Contents-Sub-Text:hover {
  color: white;
  cursor: pointer;
}

.HelpNavBar-CommandCategory-Header {
  font-size: 16px;
}
