#C_Pokemon { margin-bottom: 10%; }
.C_Pokemon-Header { display: inline; font-size: 30px; }
.C_Pokemon-Header:hover { color: orange; }
.C_Pokemon-SubHeader {
  display: inline;
  font-weight: 400;
  font-size: 18px;
}

.C_Pokemon-SubHeader-Param {font-size: 14px;}
.C_Pokemon-Desc { display: inline; }
.C_Pokemon-Desc-Flag { color: orange; }
#Pokemon-ImageA { border-radius: 16px; margin-bottom: 2%; }
#Pokemon-ImageB { border-radius: 16px; margin-bottom: 5%; }

.C_Pokemon-Table {
  width: 40%;
  border: solid #cccccc;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 10%;
}

.C_Pokemon-TR-Header {
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  background-color: #cccccc;
  color: black;
  width: 80px;
  border: solid #cccccc;
}

.C_Pokemon-TH-Flag {
  padding: 5px;
  width: 30px;
  border: solid #cccccc;
}
.C_Pokemon-TH-Description {
  width: 10px;
  border: solid #cccccc;
}
.C_Pokemon-TR {
  border: solid #cccccc;
}
.C_Pokemon-TD {
  padding: 15px;
  border: solid #cccccc;
}
