
#AddTracker {
    margin-top: 10px;
    margin-left: -15px;
}

#AddTracker-Form {
    width: 40vw;
}

#AddTracker-Streamer {
    background: transparent !important;
    border: none;
    border-bottom: solid #cccccc;
    border-radius: 0px;
    color: #cccccc;
}

#AddTracker-Channel {
    background: #151515 !important;
    color: #cccccc;
}

#AddTracker-Role {
    background: #151515 !important;
    color: #cccccc;
}

#AddTracker-SubmitButton {
    border:none;
    border-left: solid #cccccc;
    background: inherit !important;
    padding: 5px 8px 5px 8px;
    font-size: 15px;
}

#AddTracker-SubmitButton:hover {
    transition: .5s;
    color: orange !important;
    border-left: solid orange;
}

.AddTracker-Alert-Close {
    float: right;
    margin-top: 5px;
}