#C_Play { margin-bottom: 10%; }
.C_Play-Header { display: inline; font-size: 30px; }
.C_Play-Header:hover { color: orange; }
.C_Play-SubHeader {
  display: inline;
  font-weight: 400;
  font-size: 18px;
}

.C_Play-SubHeader-Param {font-size: 14px;}
#Play-Image { border-radius: 16px; }
