@import url('https://fonts.googleapis.com/css?family=Raleway'); /* Raleway Font Import */
@import url('https://fonts.googleapis.com/css?family=Roboto'); /* Roboto Font Import */

@font-face {
  font-family: 'NexaRustSlab';
  src: url(./res/fonts/NexaRustSlab.otf);
}

@font-face {
  font-family: 'Risa';
  src: url(./res/fonts/Risa.otf);
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #151515;
  color: #cccccc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a{
  text-decoration: none;
  color: inherit;
}

a:visited, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

p { font-size: 16px; }

table.table a {
  color: inherit;
}

.display-inline { display: inline; }
.display-none { display: none; }
.font-bold { font-weight: 600; }

.DiscordButton {
  background: #4a67cf !important;
  color: #cccccc;
  transition: .5s;
}
.DiscordButton:hover {
  background: #4a67cfc2 !important;
  color: #cccccc;
}
.Button { 
  background: #A42700 !important; 
  color: white;
  transition: .5s;
}
.Button:hover {
  background-color: rgba(164, 38, 0, 0.932) !important;
  color: #cccccc;
}

.FontAwesomeIcon { display: inline; margin-right: 5%; }
.app-page { min-height: 60vh; margin-bottom: 5%; }
.fireside-text { color: #A42700; }

.Component-Header {
  font-size: 2.5rem;
  font-weight: 600;
}
.Component-Breadcrumb {
  display: inline;
  transition: .3s;
}

.Component-Breadcrumb:hover {
  color: #A42700;
  cursor: pointer;
}

.Component-Breadcrumb-Main {
  font-weight: 600;
}

.cascading-admin-card .admin-up {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: -20px;
}

.cascading-admin-card .admin-up .FontAwesomeIcon {
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
}

.cascading-admin-card .admin-up .FontAwesomeIcon {
  font-size: 65px;
  color: #cccccc;
  text-align: left;
  margin-right: 1rem;
  border-radius: 3px;
}

.icon-wrapper {
  padding: 15px;
  display: inline-block;
  border-radius: 4px;
}

.FontAwesomeIcon-admin-card {
  font-size: 2.5rem;
}

.cascading-admin-card .admin-up .data {
  float: right;
  margin-top: 2rem;
  text-align: right;
}
.admin-up .data p {
  color: #999999;
  font-size: 12px;
}
.classic-admin-card .card-body {
  color: #fff;
  margin-bottom: 0;
  padding: 0.9rem;
}
.classic-admin-card .card-body p {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 0;
}
.classic-admin-card .card-body h4 {
  margin-top: 10px;
}

.progress {
  background: #1f1f1f !important;
}

.orange {
  background: #FF5005 !important;
}

.cyan {
  background: #00B39A !important;
}

.yellow {
  background: #CC8218 !important;
}