@import url('https://fonts.googleapis.com/css?family=Raleway'); /* Raleway Font Import */
@import url('https://fonts.googleapis.com/css?family=Roboto'); /* Roboto Font Import */

body, html {
  margin: 0;
  padding: 0;
  max-height: 100%;
  height: 100%;
  max-width: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #151515;
  color: #cccccc;
}

a:visited, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

a{
  text-decoration: none;
  color: inherit;
}

a:visited, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 16px;
}

.display-inline { display: inline; }

.Button {
  background: #A42700 !important;
  font-weight: 600;
  transition: .3s linear;
}

.DiscordButton {
  background: #4a67cf !important;
  font-weight: 600;
  transition: .3s linear;
}

.ScreenFill {
  height: 70.7vh;
}

.cascading-admin-card .admin-up {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: -20px;
}

.cascading-admin-card .admin-up .FontAwesomeIcon {
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
}

.cascading-admin-card .admin-up .FontAwesomeIcon {
  font-size: 65px;
  color: #cccccc;
  text-align: left;
  margin-right: 1rem;
  border-radius: 3px;
}

.FontAwesomeIcon {
  padding: 15px;
}

.cascading-admin-card .admin-up .data {
  float: right;
  margin-top: 2rem;
  text-align: right;
}
.admin-up .data p {
  color: #999999;
  font-size: 12px;
}
.classic-admin-card .card-body {
  color: #fff;
  margin-bottom: 0;
  padding: 0.9rem;
}
.classic-admin-card .card-body p {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 0;
}
.classic-admin-card .card-body h4 {
  margin-top: 10px;
}

.progress {
  background: #1f1f1f !important;
}

.orange {
  background: #FF5005 !important;
}

.cyan {
  background: #00B39A !important;
}

.yellow {
  background: #CC8218 !important;
}
