#Analytics {
  display: inline-block;
  height: 99%;
  width: 88%;
  background-color: #1a1a1a;
  color: #cccccc;
}

.Analytics-Contents {
  display: inline-block;
  height: auto;
  background-color: inherit;
  margin-left: 5%;
}

.Analytics-Header {
  margin-bottom: 20%;
}

.Analytics-Header-SubText, .Analytics-Header-SubText-Main { display: inline; }
.Analytics-Header-SubText-Main { font-weight: 800; }
