#Flags {}
.Flags-Contents {}

.Flags-Table {
  width: 40%;
  border: solid #cccccc;
  border-collapse: collapse;
}

.Flags-TR-Header {
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  background-color: #cccccc;
  color: black;
  width: 80px;
  border: solid #cccccc;
}

.Flags-TH-Flags {
  padding: 5px;
  width: 30px;
  border: solid #cccccc;
}
.Flags-TH-Description {
  width: 10px;
  border: solid #cccccc;
}

.Flags-Table-AC {
  width: 40%;
  border: solid #cccccc;
  border-collapse: collapse;
}
.Flags-TR-Header-AC {
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  background-color: #cccccc;
  color: black;
  width: 80px;
  border: solid #cccccc;
}
.Flags-TH-Commands {
  padding: 5px;
  width: 40px;
  border: solid #cccccc;
}
.Flags-TH-AvailableFlags {
  width: 10px;
  border: solid #cccccc;
}
.Flags-TR {
  border: solid #cccccc;
}
.Flags-TD {
  padding: 15px;
  border: solid #cccccc;
}
.Flags-TD-Commands:hover { color: orange; }
