#AddSong { margin-bottom: 10%; }
.AddSong-Header { display: inline; font-size: 30px; }
.AddSong-Header:hover { color: orange; }
.AddSong-SubHeader {
  display: inline;
  font-weight: 400;
  font-size: 18px;
}

.AddSong-SubHeader-Param {font-size: 14px;}
#AddSong-Image { border-radius: 16px; }