#Play { margin-bottom: 10%; }
.Play-Header { display: inline; font-size: 30px; }
.Play-Header:hover { color: orange; }
.Play-SubHeader {
  display: inline;
  font-weight: 400;
  font-size: 18px;
}

.Play-SubHeader-Param {font-size: 14px;}
#Play-Image { border-radius: 16px; }
