#AddSong {
  margin-bottom: 2%;
}

.AddSong-NameInput-Label {
  display: inline-block;
  font-size: 12px;
  margin-bottom: 12px;
}

.AddSong-NameInput {
  border: none;
  border-bottom: solid #cccccc;
  width: 280px;
  background-color: inherit;
  display: inline-block;
  color: #cccccc;
  font-size: 16px;
}

.AddSong-NameInput:focus { text-decoration: none; outline: none; }

.AddSong-NameInput-Desc {
  display: inline-block;
  width: 250px;
  font-size: 12px;
  margin-top: 12px;
}

.AddSong-Submit {
  display: inline;
  position: relative;
  padding: 0 0 0 .5%;
  border: none;
  top: 4px;
  border-left: solid #9a9a9a9a;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  left: 1%;
  transition: .5s;
  background-color: inherit;
  color: #cccccc;
}

.AddSong-Submit:hover { color: orange; border-left: solid orange; }
.AddSong-Submit:focus { outline: none; }
.AddSong-Submit:active { color: red; }
