.NavBar {
  position: sticky;
  background-color: #1a1a1a;
  height: 100%;
  width: 12%;
  color: #dedede;
  display: inline-block;
  margin: 0;
  vertical-align: top;
}

.NavBar-Logo-Container {
  position: relative;
  background-color: #333333;
  color: #dedede;
  font-family: "Risa", sans-serif;
  font-size: 24px;
}

.NavBar-Logo-Image {
  position: relative;
  height: 5vh;
  width: 15%;
  top: 10px;
  margin-left: 3%;
  margin-right: 5%;
  background-image: url(../../res/images/Logo.png);
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
}

.NavBar-Logo-Text {
  position: relative;
  top: -2px;
  display: inline;
}

.NavBar-Contents {
  text-align: center;
  font-family: "Cocogoose", sans-serif;
  padding: 20px;
  font-size: 14px;
}

.NavBar-Contents:hover {
  color: #999999;
  cursor: pointer;
}

.NavBar-Dropdown {
  position: relative;
  display: none;
  transition: 1s;
  padding-top: 2%;
  color: #dedede;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

.NavBar-Dropdown-Content:hover { color: red; }

.NavBar-Contents:hover .NavBar-Dropdown { display: block; }

.DashboardIcon, .MagicIcon, .MusicIcon { display: inline-block; position: relative; right: 5%; }
.NavBar-Contents-Text { display: inline-block; }
