.NavBar {
  position: sticky;
  background-color: #1a1a1a;
  height: 100%;
  width: 12%;
  color: rgba(255,255,255,0.5);
  display: inline-block;
  margin: 0;
  vertical-align: top;
}

.NavBar-Logo-Container {
  position: relative;
  background-color: #333333;
  color: #dedede;
  font-family: sans-serif;
  font-size: 12px;
  padding: 12px;
}

.NavBar-Logo-Image {
  height: 5vh;
  width: 15%;
  margin-left: 3%;
  margin-right: 5%;
  background-image: url(../../res/images/Logo.png);
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
}

.NavBar-Logo-Text {
  position: relative;
  top: -8px;
  display: inline;
}

.NavBar-Contents {
  font-family: "Cocogoose", sans-serif;
  padding: 6px;
  padding-left: 20%;
  font-size: 12px;
}

.NavBar-Contents:hover {
  color: white;
  cursor: pointer;
  background-color: #262626;
}

.NavBar-Dropdown {
  position: relative;
  display: none;
  transition: 1s;
  padding-top: 2%;
  color: #dedede;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

.NavBar-Dropdown-Content:hover { color: orange; }

/* .NavBar-Contents:hover .NavBar-Dropdown { display: block; } */

.DashboardIcon, .MagicIcon, .MusicIcon, .InfoIcon, .CommentsIcon, .ChartIcon, .AwardIcon,
.BoltIcon, .CrownIcon
{ display: inline-block; position: relative; right: 5%; }
.AngleIcon-Command { display: inline-block; position: relative; left: 20%; }
.AngleIcon-Music { display: inline-block; position: relative; left: 45%; }
.NavBar-Contents-Text { display: inline-block; }
