/* #NavBar {
    background: transparent;
    width: 100%;
}

.NavBar-Element {
    padding: 10px;
}

.NavBar-Element:hover { color: white; }

.NavBar-Login {
    font-size: 10.1px;
    width: 19vh;
    font-weight: 600;
} */